*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body, ul, li {
  font-family: 'Lato', sans-serif;
  list-style: none;
  display: inline;
  box-sizing: border-box; }

.top-nav,
.center-nav,
.last-nav__text {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.81rem;
  color: #808080; }

.top-nav {
  line-height: 2rem;
  padding: 0px 0.5rem 0 0; }

.center-nav {
  padding: 0 1rem 0 0;
  line-height: 0.7rem; }
  .center-nav:hover {
    color: #000; }

.navi a:nth-child(1),
a:hover {
  color: #fff; }

.icon-search {
  font-size: 1.5rem;
  color: #808080; }
  .icon-search:hover {
    color: #2c2b2b; }

.last-nav__text {
  color: #000; }
  .last-nav__text:hover {
    color: #000; }

.icon-arrow {
  font-size: .7rem;
  padding-top: 6.7px;
  padding-left: 3px;
  color: #000; }

.top-part,
.bottom-part,
.bottom-part__sub {
  display: flex; }

.top-part {
  justify-content: space-between;
  align-items: flex-start; }
  .top-part__logo2 {
    width: 30rem; }
  .top-part__date {
    color: #FCFCFC;
    font-weight: 400;
    margin-top: .9rem; }

.bottom-part {
  flex-direction: column;
  justify-content: flex-end;
  height: 90%; }

.top-text,
.center-text,
.bottom-text {
  color: #FCFCFC;
  text-decoration: none; }

.top-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 2rem; }

.center-text {
  font-weight: 900;
  font-size: 3.3rem;
  line-height: 3.9rem;
  letter-spacing: .01rem; }
  .center-text__box2 {
    font-weight: 900;
    font-size: 1.7rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: .02rem; }

.bottom-text {
  font-size: .7rem;
  padding-top: 9px;
  color: #808080;
  font-weight: 600; }

.bottom-part__sub {
  align-items: center; }

.icon-clock {
  padding: 5px 2px 0 6px;
  font-size: 1.3rem;
  color: #808080; }

.section-latestnews__img {
  width: 19.37rem;
  height: 9.25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.header {
  height: 6.6rem; }
  .header__top-container, .header__center-container, .header__last-container, .header__search-bar, .header__last-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__top-container {
    background-color: #131313;
    height: 1.9rem;
    padding: 0.38rem 1.88rem 0 1.25rem; }
  .header__center-container {
    background-color: #FCFCFC;
    height: 3.1rem;
    padding: 0 0 0 1.25rem; }
  .header__last-container {
    background-color: #FFDD33;
    height: 1.6rem;
    justify-content: flex-start;
    padding: 0 1.88rem 0 1.25rem; }
  .header__search-bar, .header__last-nav {
    height: 100%; }
  .header__search-bar {
    border-left: 1px solid #EDEDED;
    justify-content: center;
    width: 4rem; }

.section-topstory {
  padding: 1px 7px 30px 7px;
  height: 500px; }
  .section-topstory__container-box1, .section-topstory__container-box2, .section-topstory__container-box3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .section-topstory__container-box1 {
    display: flex;
    flex-direction: column;
    padding: 0.63rem;
    background-image: linear-gradient(to bottom, rgba(133, 22, 24, 0.6), #080808), url(/img/Ethernet-796x417.jpg); }
  .section-topstory__container-box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgba(130, 136, 143, 0.1), #010101), url(/img/Google-podcasts-796x417.jpg); }
  .section-topstory__container-box3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgba(130, 136, 143, 0.1), #010101), url(/img/Snag_1f80f313.png); }

.section-latestnews {
  display: grid;
  height: auto;
  background-color: grey;
  grid-gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .01fr 1fr 1fr; }
  .section-latestnews__heading {
    padding: 30px 0 30px 0; }
  .section-latestnews__container1, .section-latestnews__container2, .section-latestnews__container3, .section-latestnews__container4, .section-latestnews__container5, .section-latestnews__container6, .section-latestnews__container7, .section-latestnews__container8 {
    background-color: indigo;
    height: 18.75rem; }
  .section-latestnews__container1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .section-latestnews__container2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .section-latestnews__container3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }
  .section-latestnews__container4 {
    grid-column: 4 / 5;
    grid-row: 2 / 3; }
  .section-latestnews__container5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .section-latestnews__container6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4; }
  .section-latestnews__container7 {
    grid-column: 3 / 4;
    grid-row: 3 / 4; }
  .section-latestnews__container8 {
    grid-column: 4 / 5;
    grid-row: 3 / 4; }
