$color-header-top: #131313;
$color-header-center: #FCFCFC;
$color-header-bottom: #FFDD33;
$color-border: #EDEDED;
$color-grey: #808080;
$color-dark-grey: #2c2b2b;
$color-black: #000;
$color-white: #fff;
$color-red: #ef4430;
$color-light-red: #FCE7E5;
$color-cream: #FEFAF8;
$color-gradient-orange: #851618;
$color-gradient-dark: #080808;
$color-gradient-gray: #82888F;
$color-gradient-dark2: #010101;
$color-grey-2: #d3cfcf;