.header {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 6.6rem;

    &__top-container,
    &__center-container,
    &__last-container,
    &__search-bar,
    &__last-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    &__top-container {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-color: $color-header-top;
        height: 1.9rem;
        padding: 0.38rem 1.88rem 0 1.25rem;
        
    }

    &__center-container {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background-color: $color-header-center; 
        height: 3.1rem;
        padding: 0 0 0 1.25rem;
    }

    &__last-container {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        background-color:$color-header-bottom; 
        height: 1.6rem;
        justify-content: flex-start;
        padding: 0 1.88rem 0 1.25rem;
    }

    &__search-bar,
    &__last-nav {
        height: 100%;
    }

    &__search-bar {
        border-left: 1px solid $color-border;
        justify-content: center;
        width: 4rem;
    } 
}

