*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size:62.5%; 
}

body, ul, li {
    font-family: 'Lato', sans-serif;
    list-style: none;
    display: inline;
    box-sizing: border-box;
}