.top-nav,
.center-nav,
.last-nav__text{
    text-decoration: none;
    font-weight: 500;
    font-size: 0.81rem;
    color: $color-grey;
}

.top-nav{
    line-height: 2rem;
    padding: 0px 0.5rem 0 0;
}

.center-nav{
    padding: 0 1rem 0 0;
    line-height: 0.7rem;

    &:hover{
        color: $color-black; 
    }
}

.navi a:nth-child(1),
a:hover{
    color: $color-white;
   }

.icon-search {
    font-size: 1.5rem;
    color: $color-grey;

    &:hover{
        color: $color-dark-grey;
    }
}

.last-nav__text {
    color: $color-black;
    &:hover{
        color: $color-black;
    }
}

.icon-arrow {
    font-size: .7rem;
    padding-top: 6.7px;
    padding-left: 3px;
    color: $color-black;
}
 