.top-nav,
.center-nav,
.last-nav__text{
    text-decoration: none;
    font-weight: 500;
    font-size: 0.81rem;
    color: $color-grey;
}

.top-nav{
    line-height: 2rem;
    padding: 0px 0.5rem 0 0;
}

.center-nav{
    padding: 0 1rem 0 0;
    line-height: 0.7rem;

    &:hover{
        color: $color-black; 
    }
}

.navi a:nth-child(1),
a:hover{
    color: $color-white;
   }

.icon-search {
    font-size: 1.5rem;
    color: $color-grey;

    &:hover{
        color: $color-dark-grey;
    }
}

.last-nav__text {
    color: $color-black;
    &:hover{
        color: $color-black;
    }
}

.icon-arrow {
    font-size: .7rem;
    padding-top: 6.7px;
    padding-left: 3px;
    color: $color-black;
}

.top-part,
.bottom-part,
.bottom-part__sub{
    display: flex;
}

.top-part{
    justify-content: space-between;
    align-items: flex-start;


    &__logo2{
        width: 30rem;
        
    }

    &__date{
        color: $color-header-center;
        font-weight: 400;
        margin-top: .9rem;
        
    }
}

.bottom-part {
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
}

.top-text,
.center-text,
.bottom-text {
    color: $color-header-center;
    text-decoration: none;
}

.top-text {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 2rem;
    
}

.center-text {
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 3.9rem;
    letter-spacing: .01rem;

    &__box2{
        font-weight: 900;
        font-size: 1.7rem;
        line-height: 1.8rem;
        text-decoration: none;
        color: $color-white;
        letter-spacing: .02rem;
    }
}
    
.bottom-text {
    font-size: .7rem;
    padding-top: 9px;
    color: $color-grey;
    font-weight: 600;
}

.bottom-part__sub{
    align-items: center;  
}
.icon-clock {
    padding: 5px 2px 0 6px;
    font-size: 1.3rem;
    color: $color-grey;
}


 