.section-topstory{
    padding: 1px 7px 30px 7px;
    height: 500px;
    
    &__container-box1,
    &__container-box2,
    &__container-box3{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__container-box1{
        padding: 0.63rem;
        background-image: linear-gradient( 
            to  bottom, 
            rgba($color-gradient-orange, 0.6),
            rgba($color-gradient-dark, 9)),   
        url(/img/Ethernet-796x417.jpg) ; 
    }
    
    &__container-box2{
        background-image: linear-gradient( 
            to  bottom,
            rgba($color-gradient-gray, .1),
            rgba($color-gradient-dark2, 3)),   
        url(/img/Google-podcasts-796x417.jpg)
    }
    
    &__container-box3 {
        background-image: linear-gradient( 
            to  bottom,
            rgba($color-gradient-gray, .1),
            rgba($color-gradient-dark2, 3)),   
        url(/img/Snag_1f80f313.png)  
    }
}

