.section-topstory{
    padding: 1px 7px 100px 7px;
    height: auto;
    
    &__container-box1,
    &__container-box2,
    &__container-box3{
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    
    &__container-box2,
    &__container-box3{
        justify-content: flex-end;
    }

    &__container-box1{
        padding: 0.63rem;
        background-image: linear-gradient( 
            to  bottom, 
            rgba($color-gradient-orange, 0.6),
            rgba($color-gradient-dark, 9)),   
        url(/img/Ethernet-796x417.jpg) ; 
    }
    
    &__container-box2{
        padding: 1rem;
        background-image: linear-gradient( 
            to  bottom,
            rgba($color-gradient-gray, .1),
            rgba($color-gradient-dark2, 3)),   
        url(/img/Google-podcasts-796x417.jpg)
    }
    
    &__container-box3 {
        padding: 1rem;
        background-image: linear-gradient( 
            to  bottom,
            rgba($color-gradient-gray, .1),
            rgba($color-gradient-dark2, 3)),   
        url(/img/Snag_1f80f313.png)  
    }
}



.section-latestnews {
    height: auto;
    padding-bottom: 6.25rem;
    vertical-align: top;

    &__container1,
    &__container2,
    &__container3,
    &__container4,
    &__container5,
    &__container6,
    &__container7,
    &__container8 {
        height: 15rem;
        width: 17.5rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    
}

.section-latestfund {
  height: auto;
  
 
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container1,
  &__container2,
  &__container3,
  &__container4 {
      height: 16.88rem;
  }

}







