.section-topstory {
  padding: 1px 7px 0 7px;
  height: auto;
  margin-bottom: 80px;
  

  @include respond(big-tab) {
    height: auto;
  }

  &__container-box1,
  &__container-box2,
  &__container-box3 {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__container-box2,
  &__container-box3 {
    justify-content: flex-end;
  }

  &__container-box1 {
    padding: 0.63rem;
    background-image: linear-gradient(
        to bottom,
        rgba($color-gradient-orange, 0.6),
        rgba($color-gradient-dark, 9)
      ),
      url(../img/Ethernet-796x417.jpg);
  }

  &__container-box2 {
    padding: 1rem;
    background-image: linear-gradient(
        to bottom,
        rgba($color-gradient-gray, 0.1),
        rgba($color-gradient-dark2, 3)
      ),
      url(../img/Google-podcasts-796x417.jpg);
  }

  &__container-box3 {
    padding: 1rem;
    background-image: linear-gradient(
        to bottom,
        rgba($color-gradient-gray, 0.1),
        rgba($color-gradient-dark2, 3)
      ),
      url(../img/Snag_1f80f313.png);
  }
}

.section-latestnews {
  height: auto;
  padding: 0 115px 0 115px;
  padding-bottom: 6.25rem;
  vertical-align: top;

  @include respond(phone) {
    height: auto;
    padding: 10px;
  }

  &__container1,
  &__container2,
  &__container3,
  &__container4,
  &__container5,
  &__container6,
  &__container7,
  &__container8 {
    height: 16rem;

    @include respond(normal) {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    @include respond(phone) {
      display: flex;
      height: auto;
      padding: 0;
    }
  }
  &__deals {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.section-latestfund {
  height: auto;
  padding: 0 115px 0 115px;
  margin-bottom: 80px;

  @include respond(phone) {
    justify-content: flex-start;
    padding: 20px;
  }

  @include respond(big-tab) {
    padding: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(big-tab) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @include respond(phone) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &4 {
      @include respond(mini-laptop) {
        display: none;
      }
    }
  }

  &__container1,
  &__container2,
  &__container3,
  &__container4 {
    height: 16.88rem;
  }
}

.section-apps {
  height: auto;
  padding: 0 115px 20px 115px;
  padding-bottom: 6.25rem;
  margin-bottom: 10px;

  @include respond(big-tab) {
    padding: 20px;
  }

  @include respond(phone) {
    padding: 10px;
  }

  &__top,
  &__top2,
  &__top3,
  &__center2,
  &__centertext {
    display: flex;
  }

  &__top,
  &__top2,
  &__top3,
  &__centertext {
    flex-direction: column;
  }

  &__top,
  &__top2,
  &__top3 {
    justify-content: flex-end;
    padding: 0 0 10px 10px;
    height: 220px;
    width: auto;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba($color-gradient-gray, 0.1),
        rgba($color-gradient-dark2, 3)
      ),
      url(/img/app1.png);
  }

  &__top2 {
    background-image: linear-gradient(
        to bottom,
        rgba($color-gradient-gray, 0.1),
        rgba($color-gradient-dark2, 3)
      ),
      url(/img/app3.jpg);
  }

  &__top3 {
    background-image: linear-gradient(
        to bottom,
        rgba($color-gradient-gray, 0.1),
        rgba($color-gradient-dark2, 3)
      ),
      url(/img/app2.jpg);
  }

  &__center2 {
    background-color: $color-light-red;
    justify-content: space-between;
    height: 100px;
    margin-top: 2px;
  }

  &__centertext {
    padding: 10px 0 30px 10px;
  }

  &__centerimage,
  &__centerimage1,
  &__centerimage2 {
    height: 100px;
    width: 90px;
    background-image: url(/img/1-8-796x417.jpg);
    background-size: cover;
  }

  &__centerimage1 {
    background-image: url(/img/DDeBooks-796x417.jpg);
    background-size: cover;
  }

  &__centerimage2 {
    background-image: url(/img/bubble-car-isetta-bmw-microlino-microletta-ev-car-new-announced-796x449.png);
    background-position: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }
}


.section-footer {
    
    height: 300px;

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $color-footer-top;
        height: 200px;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-footer-bottom;
        height: 100px;
    }
}